## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import accuracy_score, confusion_matrix
pd.set_option('use_inf_as_na', True)
from collections import Counter

## Loading the Data Set (you need to put in the file where you have stored the data)

In [2]:
raw_data = pd.read_pickle(r'C:\Users\niels\OneDrive\Machine Learning 2022\Lecture 2\dataset.pkl')

In [3]:
raw_data.head()

                       actq      apq        atq       ceqq      cheq  \
date       ticker
2000-02-01 LLB        3.540    0.143      7.668      6.732     2.553
2000-02-03 MYR      107.661   24.387    220.463    136.555     1.049
2000-02-08 LZB      447.719   57.893    740.905    460.612    16.531
           SJM      234.415   33.821    488.136    322.432    26.054
2000-02-09 CSCO    7722.000  482.000  21391.000  16523.000  3968.000

                      cogsq     csh12q    cshfdq     cshiq  cshopq  ...  \
date       ticker                                                   ...
2000-02-01 LLB        0.458     6.3910     6.391     6.989     0.0  ...
2000-02-03 MYR       36.883    25.5360    22.082    28.458     0.0  ...
2000-02-08 LZB      274.525    52.2660    52.274    52.544     0.0  ...
           SJM       91.172    28.8808    28.603    32.425     0.0  ...
2000-02-09 CSCO    1422.000  3374.1250  3648.000  3445.000     0.0  ...

                   sector_code_815.0  sector_code_817.0  sector_code_822.0  \
date       ticker
2000-02-01 LLB                     0                  0                  0
2000-02-03 MYR                     0                  0                  0
2000-02-08 LZB                     0                  0                  0
           SJM                     0                  0                  0
2000-02-09 CSCO                    0                  0                  0

                   sector_code_823.0  sector_code_825.0  sector_code_830.0  \
date       ticker
2000-02-01 LLB                     0                  0                  0
2000-02-03 MYR                     0                  0                  0
2000-02-08 LZB                     0                  0                  0
           SJM                     0                  0                  0
2000-02-09 CSCO                    0                  0                  0

                   sector_code_835.0  sector_code_840.0  sector_code_845.0  \
date       ticker
2000-02-01 LLB                     0                  0                  0
2000-02-03 MYR                     0                  0                  0
2000-02-08 LZB                     0                  0                  0
           SJM                     0                  0                  0
2000-02-09 CSCO                    0                  0                  0

                   sector_code_850.0
date       ticker
2000-02-01 LLB                     0
2000-02-03 MYR                     0
2000-02-08 LZB                     0
           SJM                     0
2000-02-09 CSCO                    0

[5 rows x 731 columns]

In [4]:
raw_data = raw_data.drop([x  for x in raw_data.columns if 'fqtr' in x],axis=1)

## Restricting to Companies with Market Cap > 1 Billion

In [5]:
data = raw_data[raw_data['market_cap'] > 1000.0]

## The Total Number of Companies w/ Market Cap > 1 Billion that appear during our time horizon

In [6]:
len(data.index.get_level_values(1).unique())

4076

In [7]:
data.head()

                       actq       apq        atq       ceqq      cheq  \
date       ticker
2000-02-09 CSCO    7722.000   482.000  21391.000  16523.000  3968.000
           ROP      172.725    19.662    474.649    239.432     3.198
2000-02-10 CMOS     240.767    27.044    376.536    209.411    68.625
2000-02-11 DELL    7681.000  3538.000  11471.000   5308.000  4132.000
2000-02-15 VAL      507.082   139.497   1094.080    402.382    27.605

                      cogsq     csh12q    cshfdq     cshiq  cshopq  ...  \
date       ticker                                                   ...
2000-02-09 CSCO    1422.000  3374.1250  3648.000  3445.000     0.0  ...
           ROP       47.634    30.2688    31.217       NaN     0.0  ...
2000-02-10 CMOS      43.023    21.4360    23.753       NaN     0.0  ...
2000-02-11 DELL    5452.000  2536.0000  2731.000  2575.000     0.0  ...
2000-02-15 VAL      221.366    43.1858    43.687    53.321     0.0  ...

                   sector_code_815.0  sector_code_817.0  sector_code_822.0  \
date       ticker
2000-02-09 CSCO                    0                  0                  0
           ROP                     0                  0                  0
2000-02-10 CMOS                    0                  0                  0
2000-02-11 DELL                    0                  0                  0
2000-02-15 VAL                     0                  0                  0

                   sector_code_823.0  sector_code_825.0  sector_code_830.0  \
date       ticker
2000-02-09 CSCO                    0                  0                  0
           ROP                     0                  0                  0
2000-02-10 CMOS                    0                  0                  0
2000-02-11 DELL                    0                  0                  0
2000-02-15 VAL                     0                  0                  0

                   sector_code_835.0  sector_code_840.0  sector_code_845.0  \
date       ticker
2000-02-09 CSCO                    0                  0                  0
           ROP                     0                  0                  0
2000-02-10 CMOS                    0                  0                  0
2000-02-11 DELL                    0                  0                  0
2000-02-15 VAL                     0                  0                  0

                   sector_code_850.0
date       ticker
2000-02-09 CSCO                    0
           ROP                     0
2000-02-10 CMOS                    0
2000-02-11 DELL                    0
2000-02-15 VAL                     0

[5 rows x 727 columns]

## Filling in Missing Values

In [8]:
data = data.copy()
data.replace([np.inf,-np.inf],np.nan,inplace=True)
data = data.fillna(method='ffill')

In [9]:
data = data.fillna(0)

In [10]:
data['pred_rel_return']

date        ticker
2000-02-09  CSCO     -0.025923
            ROP       0.066175
2000-02-10  CMOS      0.241345
2000-02-11  DELL      0.306035
2000-02-15  VAL       0.043852
                        ...
2018-12-21  NKE      -0.100100
            SAFM     -0.100100
            SCHL     -0.100100
            WBA      -0.100100
2018-12-24  KMX      -0.100100
Name: pred_rel_return, Length: 111468, dtype: float64

#### We label a Data Point +1 if the difference between the return on the SPY and the return on the stock exceeds 1.0% during the earnings period, -1 if it is < -2.5% and 0 if it is between -2.5% and +1%. The function below turns the return differences into labels

In [11]:
def f(x):
    if x > 0.01:
        return 1
    elif x < -0.025:
        return -1
    else:
        return 0

#### Applying the function to the column of relative returns and making a column of labels

In [12]:
data = data.copy()
data['rel_performance'] = data['pred_rel_return'].apply(f)

In [14]:
data['next_period_return'].to_frame()

                   next_period_return
date       ticker
2000-02-09 CSCO             -0.037098
           ROP               0.077255
2000-02-10 CMOS              0.287974
2000-02-11 DELL              0.346867
2000-02-15 VAL               0.093507
...                               ...
2018-12-21 NKE              -0.207949
           SAFM             -0.207949
           SCHL             -0.207949
           WBA              -0.207949
2018-12-24 KMX              -0.207949

[111468 rows x 1 columns]

#### This is the column of labels

In [15]:
data['rel_performance']

date        ticker
2000-02-09  CSCO     -1
            ROP       1
2000-02-10  CMOS      1
2000-02-11  DELL      1
2000-02-15  VAL       1
                     ..
2018-12-21  NKE      -1
            SAFM     -1
            SCHL     -1
            WBA      -1
2018-12-24  KMX      -1
Name: rel_performance, Length: 111468, dtype: int64

### Make date the index, remember that the date is the first business day after Earnings Release

In [16]:
data.reset_index(inplace=True)
data.set_index('date',inplace=True)

In [17]:
data.head()

,ticker,actq,apq,atq,ceqq,cheq,cogsq,csh12q,cshfdq,cshiq,...,sector_code_817.0,sector_code_822.0,sector_code_823.0,sector_code_825.0,sector_code_830.0,sector_code_835.0,sector_code_840.0,sector_code_845.0,sector_code_850.0,rel_performance
date,,,,,,,,,,,,,,,,,,,,,
2000-02-09,CSCO,7722.000,482.000,21391.000,16523.000,3968.000,1422.000,3374.1250,3648.000,3445.000,...,0,0,0,0,0,0,0,0,0,-1
2000-02-09,ROP,172.725,19.662,474.649,239.432,3.198,47.634,30.2688,31.217,3445.000,...,0,0,0,0,0,0,0,0,0,1
2000-02-10,CMOS,240.767,27.044,376.536,209.411,68.625,43.023,21.4360,23.753,3445.000,...,0,0,0,0,0,0,0,0,0,1
2000-02-11,DELL,7681.000,3538.000,11471.000,5308.000,4132.000,5452.000,2536.0000,2731.000,2575.000,...,0,0,0,0,0,0,0,0,0,1
2000-02-15,VAL,507.082,139.497,1094.080,402.382,27.605,221.366,43.1858,43.687,53.321,...,0,0,0,0,0,0,0,0,0,1

### This what the data set looks like now

In [18]:
data

,ticker,actq,apq,atq,ceqq,cheq,cogsq,csh12q,cshfdq,cshiq,...,sector_code_817.0,sector_code_822.0,sector_code_823.0,sector_code_825.0,sector_code_830.0,sector_code_835.0,sector_code_840.0,sector_code_845.0,sector_code_850.0,rel_performance
date,,,,,,,,,,,,,,,,,,,,,
2000-02-09,CSCO,7722.000,482.000,21391.000,16523.000,3968.000,1422.000,3374.1250,3648.000,3445.000,...,0,0,0,0,0,0,0,0,0,-1
2000-02-09,ROP,172.725,19.662,474.649,239.432,3.198,47.634,30.2688,31.217,3445.000,...,0,0,0,0,0,0,0,0,0,1
2000-02-10,CMOS,240.767,27.044,376.536,209.411,68.625,43.023,21.4360,23.753,3445.000,...,0,0,0,0,0,0,0,0,0,1
2000-02-11,DELL,7681.000,3538.000,11471.000,5308.000,4132.000,5452.000,2536.0000,2731.000,2575.000,...,0,0,0,0,0,0,0,0,0,1
2000-02-15,VAL,507.082,139.497,1094.080,402.382,27.605,221.366,43.1858,43.687,53.321,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-21,NKE,15566.000,2574.000,22677.000,8729.000,4041.000,5098.000,1601.1500,1620.700,1577.000,...,0,0,0,0,0,0,0,0,0,-1
2018-12-21,SAFM,566.489,128.936,1659.440,1387.893,121.193,758.313,22.4290,22.191,22.100,...,0,0,0,0,0,0,0,0,0,-1
2018-12-21,SCHL,1172.300,250.300,2081.900,1284.600,358.100,262.400,35.0420,35.863,22.100,...,0,0,0,0,0,0,0,0,0,-1
2018-12-21,WBA,20083.000,14660.000,69941.000,25609.000,1183.000,25651.000,976.4750,951.400,1172.514,...,0,0,0,0,0,0,0,0,0,-1
2018-12-24,KMX,3057.419,558.324,18396.812,3435.113,461.662,3819.336,177.2235,175.321,171.785,...,0,0,0,0,0,0,0,0,0,-1

### We use a training period of 3 years = 12 quarters,

In [19]:
df_train = data.loc['2001-01-01':'2004-01-01']

#### The validation set and test set are the quarters starting 1 quarter after the end of the training periods

In [20]:
df_valid = data.loc['2004-04-01':'2004-07-01']
df_test = data.loc['2004-10-01':'2005-01-01']

#### Next we delete the columns that are not needed for training

In [21]:
train = df_train.reset_index().drop(['ticker','date',
                                   'next_period_return',
                                   'spy_next_period_return',
                                   'rel_performance','pred_rel_return',
                                  'return', 'cum_ret', 'spy_cum_ret'],axis=1)

valid = df_valid.reset_index().drop(['ticker','date',
                                   'next_period_return',
                                   'spy_next_period_return',
                                   'rel_performance','pred_rel_return',
                                  'return', 'cum_ret', 'spy_cum_ret',
                                    ],axis=1)
test = df_test.reset_index().drop(['ticker','date',
                                   'next_period_return',
                                   'spy_next_period_return',
                                   'rel_performance','pred_rel_return',
                                  'return', 'cum_ret', 'spy_cum_ret',
                            ],axis=1)

#### We take out the actual  earnings period stock returns in the training and test sets

In [22]:
train_stock_returns = df_train['next_period_return']
valid_stock_returns = df_valid['next_period_return']
test_stock_returns = df_test['next_period_return']

In [23]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [24]:
scaler = StandardScaler()

In [25]:
float_vars = [x for x in train.columns if data[x].dtype == 'float64']

In [26]:
len(float_vars)

179

In [27]:
float_vars

['actq',
 'apq',
 'atq',
 'ceqq',
 'cheq',
 'cogsq',
 'csh12q',
 'cshfdq',
 'cshiq',
 'cshopq',
 'cshoq',
 'cshprq',
 'cstkq',
 'dlcq',
 'dlttq',
 'dpq',
 'dvpq',
 'epsf12',
 'epsfi12',
 'epsfiq',
 'epsfxq',
 'epspi12',
 'epspiq',
 'epspxq',
 'epsx12',
 'ibadj12',
 'ibadjq',
 'ibcomq',
 'ibq',
 'icaptq',
 'invtq',
 'lctq',
 'ltq',
 'mibq',
 'miiq',
 'niq',
 'nopiq',
 'oepf12',
 'oeps12',
 'oepsxq',
 'oiadpq',
 'oibdpq',
 'opepsq',
 'optdrq',
 'piq',
 'ppentq',
 'prcraq',
 'pstkq',
 'pstkrq',
 'rectq',
 'req',
 'revtq',
 'saleq',
 'seqq',
 'spiq',
 'teqq',
 'txdbq',
 'txditcq',
 'txpq',
 'txtq',
 'xintq',
 'xoprq',
 'xrdq',
 'xsgaq',
 'capxy',
 'cdvcy',
 'chechy',
 'cogsy',
 'dlcchy',
 'dltisy',
 'dltry',
 'dpcy',
 'dvy',
 'ibcomy',
 'ibcy',
 'miiy',
 'oancfy',
 'oepsxy',
 'oibdpy',
 'revty',
 'txpdy',
 'xidocy',
 'xidoy',
 'xinty',
 'xrdy',
 'xsgay',
 'dvpspq',
 'prccq',
 'beq',
 'bmq',
 'book_value_per_share',
 'book_value_yield',
 'market_cap',
 'buy_back_yield',
 'yearly_sales',
 'evmq',
 'pe_op_basicq',
 'pe_op_dilq',
 'pe_exiq',
 'capeiq',
 'pe_incq',
 'psq',
 'oancfy_q',
 'opcfq',
 'cfo-per-share',
 'cf_yield',
 'pcfq',
 'dvq',
 'dprq',
 'npmq',
 'opmbdq',
 'opmadq',
 'gpmq',
 'ptpmq',
 'ibcq',
 'dpcq',
 'cfmq',
 'at4',
 'roaq',
 'roceq',
 'efftaxq',
 'ceq4',
 'seq4',
 'lctq4',
 'be4',
 'lagbe4',
 'lagseq4',
 'lagicapt4',
 'lagppent4',
 'lagppent_alt4',
 'roeq',
 'aftret_eqq',
 'aftret_invcapxq',
 'aftret_equityq',
 'pretret_noaq',
 'pretret_earnatq',
 'gprofq',
 'equity_invcapq',
 'debt_invcapq',
 'totdebt_invcapq',
 'capital_ratioq',
 'int_debtq',
 'int_totdebtq',
 'cash_ltq',
 'invt_actq',
 'rect_actq',
 'debt_atq',
 'debt_ebitdaq',
 'short_debtq',
 'curr_debtq',
 'lt_debtq',
 'profit_lctq',
 'ocf_lctq',
 'capxq',
 'fcf_ocfq',
 'fcf_csfhdq',
 'fcf_yield',
 'cash_debtq',
 'lt_ppentq',
 'dltt_beq',
 'debt_assetsq',
 'debt_capitalq',
 'de_ratioq',
 'intcovq',
 'intcov_ratioq',
 'cash_ratioq',
 'quick_ratioq',
 'curr_ratioq',
 'cash_conversionq',
 'inv_turnq',
 'at_turnq',
 'rect_turnq',
 'pay_turnq',
 'sale_invcapq',
 'sale_equityq',
 'sale_nwcq',
 'rd_saleq',
 'at5',
 'accrualq']

In [28]:
train = train.copy()
valid = valid.copy()
test = test.copy()

In [29]:
train[float_vars] = scaler.fit_transform(train[float_vars])
valid[float_vars] = scaler.transform(valid[float_vars])
test[float_vars] = scaler.transform(test[float_vars])

In [30]:
test

,actq,apq,atq,ceqq,cheq,cogsq,csh12q,cshfdq,cshiq,cshopq,...,sector_code_815.0,sector_code_817.0,sector_code_822.0,sector_code_823.0,sector_code_825.0,sector_code_830.0,sector_code_835.0,sector_code_840.0,sector_code_845.0,sector_code_850.0
0,-0.263658,-0.161292,-0.237062,-0.198178,-0.075701,-0.301716,-0.199487,-0.173131,-0.204266,-0.009609,...,0,0,0,0,0,0,0,0,0,0
1,1.098392,-0.096349,0.239014,0.115424,0.008394,-0.007514,0.329885,0.333040,0.353212,-0.009609,...,0,0,0,0,0,0,0,0,0,0
2,-0.244494,-0.145633,-0.236138,-0.262953,-0.132820,-0.114253,-0.204665,-0.210057,-0.204298,164.468104,...,0,0,0,0,0,0,0,0,0,0
3,-0.067779,-0.149890,-0.189368,-0.137015,-0.148266,-0.159950,-0.285349,-0.275382,-0.296659,0.523026,...,0,0,0,0,0,0,0,0,0,0
4,0.996686,0.015795,0.096167,1.122966,0.065624,0.420599,1.717584,1.743885,1.763815,1491.368621,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,0.493980,-0.125321,-0.072877,0.162068,-0.121488,0.062230,0.233818,0.227729,0.262613,7.660336,...,0,0,0,0,0,0,0,0,0,0
1132,-0.433373,-0.160534,-0.254654,-0.360778,-0.146589,-0.322603,-0.371124,-0.371085,-0.388166,-0.009609,...,0,0,0,0,0,0,0,0,0,0
1133,0.001727,-0.149717,-0.158878,0.272882,-0.066988,-0.204665,0.389613,0.457127,0.320377,-0.009609,...,0,0,0,0,0,0,0,0,0,0
1134,-0.447404,-0.162455,-0.262774,-0.398449,-0.144391,-0.319133,-0.389841,-0.389502,-0.406740,-0.009609,...,0,0,0,0,0,0,0,0,0,0
1135,-0.365539,-0.162725,-0.251698,-0.325265,-0.112106,-0.333306,-0.158593,-0.140125,-0.171905,7.979917,...,0,0,0,0,0,0,0,0,0,0

In [31]:
y_train = df_train['rel_performance'].values
y_valid = df_valid['rel_performance'].values
y_test = df_test['rel_performance'].values

In [32]:
y_train

array([ 1,  1,  1, ...,  1,  1, -1], dtype=int64)

In [33]:
Counter(y_valid)

Counter({1: 631, -1: 403, 0: 121})

## Number of Features

In [34]:
len(train.columns)

721

## Importing the Tree Classifier and some metrics from sklearn

In [35]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [36]:
t_clf = DecisionTreeClassifier(min_samples_leaf = 100,max_depth=15)

In [37]:
t_clf.fit(train,y_train)

DecisionTreeClassifier(max_depth=15, min_samples_leaf=100)

In [38]:
accuracy_score(y_train,t_clf.predict(train))

0.6111162404210138

In [39]:
accuracy_score(y_valid,t_clf.predict(valid))

0.5099567099567099

### Visualizing the tree

In [40]:
import graphviz
from sklearn import tree

In [41]:
dot_data = tree.export_graphviz(t_clf,out_file=None)
graph = graphviz.Source(dot_data)
graph.render('tree_10')

'tree_10.pdf'

In [42]:
!pip install optuna

Collecting optuna
  Obtaining dependency information for optuna from https://files.pythonhosted.org/packages/4c/6a/219a431aaf81b3eb3070fd2d58116baa366d3072f43bbcc87dc3495b7546/optuna-3.5.0-py3-none-any.whl.metadata
  Downloading optuna-3.5.0-py3-none-any.whl.metadata (17 kB)
Collecting alembic>=1.5.0 (from optuna)
  Obtaining dependency information for alembic>=1.5.0 from https://files.pythonhosted.org/packages/7f/50/9fb3a5c80df6eb6516693270621676980acd6d5a9a7efdbfa273f8d616c7/alembic-1.13.1-py3-none-any.whl.metadata
  Downloading alembic-1.13.1-py3-none-any.whl.metadata (7.4 kB)
Collecting colorlog (from optuna)
  Obtaining dependency information for colorlog from https://files.pythonhosted.org/packages/95/df/520663eb7f7a329f7c585834b754bcc3cbcc03957d85fcbba4a2a723ad9d/colorlog-6.8.0-py3-none-any.whl.metadata
  Downloading colorlog-6.8.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: numpy in c:\users\niels\anaconda3\lib\site-packages (from optuna) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\niels\anaconda3\lib\site-packages (from optuna) (23.1)
Requirement already satisfied: sqlalchemy>=1.3.0 in c:\users\niels\anaconda3\lib\site-packages (from optuna) (1.4.39)
Requirement already satisfied: tqdm in c:\users\niels\anaconda3\lib\site-packages (from optuna) (4.65.0)
Requirement already satisfied: PyYAML in c:\users\niels\anaconda3\lib\site-packages (from optuna) (6.0)
Collecting Mako (from alembic>=1.5.0->optuna)
  Obtaining dependency information for Mako from https://files.pythonhosted.org/packages/24/3b/11fe92d68c6a42468ddab0cf03f454419b0788fff4e91ba46b8bebafeffd/Mako-1.3.0-py3-none-any.whl.metadata
  Downloading Mako-1.3.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: typing-extensions>=4 in c:\users\niels\anaconda3\lib\site-packages (from alembic>=1.5.0->optuna) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\niels\anaconda3\lib\site-packages (from sqlalchemy>=1.3.0->optuna) (2.0.1)
Requirement already satisfied: colorama in c:\users\niels\anaconda3\lib\site-packages (from colorlog->optuna) (0.4.6)
Requirement already satisfied: MarkupSafe>=0.9.2 in c:\users\niels\anaconda3\lib\site-packages (from Mako->alembic>=1.5.0->optuna) (2.1.1)
Downloading optuna-3.5.0-py3-none-any.whl (413 kB)
   ---------------------------------------- 0.0/413.4 kB ? eta -:--:--
   --- ----------------------------------- 41.0/413.4 kB 991.0 kB/s eta 0:00:01
   ------------------ --------------------- 194.6/413.4 kB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 358.4/413.4 kB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 413.4/413.4 kB 2.9 MB/s eta 0:00:00
Downloading alembic-1.13.1-py3-none-any.whl (233 kB)
   ---------------------------------------- 0.0/233.4 kB ? eta -:--:--
   ---------------------------- ----------- 163.8/233.4 kB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 233.4/233.4 kB 3.6 MB/s eta 0:00:00
Downloading colorlog-6.8.0-py3-none-any.whl (11 kB)
Downloading Mako-1.3.0-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.6 kB ? eta -:--:--
   ---------------------------------------- 78.6/78.6 kB 4.3 MB/s eta 0:00:00
Installing collected packages: Mako, colorlog, alembic, optuna
Successfully installed Mako-1.3.0 alembic-1.13.1 colorlog-6.8.0 optuna-3.5.0

In [43]:
import optuna
from optuna.trial import Trial
# optuna.logging.set_verbosity(optuna.logging.get_verbosity)
# import warnings
# warnings.filterwarnings("ignore")

In [44]:
def objective(trial:Trial,train=None,labels=None,val=None,val_labels=None,val_rets=None):

    t_min_samples_leaf = trial.suggest_int('min_samples_leaf',100,1200,step=100)
    t_max_depth = trial.suggest_int('max_depth',5,25,step=5)

    
    t_clf = DecisionTreeClassifier(min_samples_leaf = t_min_samples_leaf,max_depth=t_max_depth,random_state=123)
    t_clf.fit(train,labels)

    preds = t_clf.predict(val)
    profit = (preds * val_rets).sum()

    return profit

In [45]:
study = optuna.create_study(direction="maximize")

[I 2024-01-10 14:27:35,162] A new study created in memory with name: no-name-6c0b38a8-c1ad-4482-8903-e4484da89de4

In [46]:
from functools import partial

In [47]:
%%time
study.optimize(partial(objective,train=train,labels=y_train,val=valid,val_labels=y_valid,val_rets=valid_stock_returns.values), n_trials=100,n_jobs=-1)

[I 2024-01-10 14:27:48,566] Trial 5 finished with value: -26.053565999999996 and parameters: {'min_samples_leaf': 1000, 'max_depth': 10}. Best is trial 5 with value: -26.053565999999996.
[I 2024-01-10 14:27:48,961] Trial 7 finished with value: -26.053565999999996 and parameters: {'min_samples_leaf': 1100, 'max_depth': 25}. Best is trial 5 with value: -26.053565999999996.
[I 2024-01-10 14:27:49,276] Trial 2 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 700, 'max_depth': 5}. Best is trial 2 with value: 0.3619260000000235.
[I 2024-01-10 14:27:49,696] Trial 3 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 700, 'max_depth': 15}. Best is trial 2 with value: 0.3619260000000235.
[I 2024-01-10 14:27:49,860] Trial 0 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 0 with value: 2.2530960000000224.
[I 2024-01-10 14:27:50,199] Trial 1 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:50,327] Trial 6 finished with value: 0.8414420000000256 and parameters: {'min_samples_leaf': 200, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:51,540] Trial 8 finished with value: 0.8414420000000256 and parameters: {'min_samples_leaf': 200, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:51,869] Trial 4 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:52,297] Trial 12 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:52,552] Trial 13 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 600, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:52,936] Trial 14 finished with value: -26.053565999999996 and parameters: {'min_samples_leaf': 1000, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:53,910] Trial 16 finished with value: -26.053565999999996 and parameters: {'min_samples_leaf': 1000, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:54,371] Trial 15 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 600, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:54,474] Trial 11 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:55,629] Trial 17 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:55,715] Trial 9 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:55,926] Trial 18 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:56,299] Trial 10 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:57,208] Trial 19 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:57,296] Trial 20 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:57,758] Trial 21 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:59,512] Trial 22 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:59,732] Trial 23 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:27:59,975] Trial 25 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:00,631] Trial 27 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 800, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:00,633] Trial 24 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:00,989] Trial 26 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:01,136] Trial 28 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:01,726] Trial 29 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:02,707] Trial 32 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 800, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:04,889] Trial 36 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:04,892] Trial 31 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:05,115] Trial 30 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:05,200] Trial 34 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:05,202] Trial 33 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:05,432] Trial 37 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:05,957] Trial 35 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:07,816] Trial 38 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:08,212] Trial 40 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:08,224] Trial 39 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:08,891] Trial 44 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:09,085] Trial 42 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:09,088] Trial 41 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:09,197] Trial 43 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.

[I 2024-01-10 14:28:09,892] Trial 45 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 500, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:12,976] Trial 48 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:13,274] Trial 49 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:13,826] Trial 53 finished with value: -1.5933379999999886 and parameters: {'min_samples_leaf': 100, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:14,337] Trial 46 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:14,886] Trial 47 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:15,881] Trial 51 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:15,882] Trial 52 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:16,326] Trial 50 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:16,501] Trial 57 finished with value: -26.053565999999996 and parameters: {'min_samples_leaf': 1200, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:16,848] Trial 54 finished with value: -1.5933379999999886 and parameters: {'min_samples_leaf': 100, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:16,936] Trial 55 finished with value: -1.5933379999999886 and parameters: {'min_samples_leaf': 100, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:17,898] Trial 58 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:20,048] Trial 62 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 5}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:20,690] Trial 56 finished with value: -9.088705999999991 and parameters: {'min_samples_leaf': 100, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:21,101] Trial 60 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:21,201] Trial 63 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:21,203] Trial 59 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:21,209] Trial 64 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:21,589] Trial 61 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:21,930] Trial 65 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:24,468] Trial 66 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 20}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:25,525] Trial 70 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:25,642] Trial 67 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:25,721] Trial 71 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:25,833] Trial 68 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:26,023] Trial 69 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:26,130] Trial 73 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:26,166] Trial 72 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:28,974] Trial 74 finished with value: 2.2530960000000224 and parameters: {'min_samples_leaf': 400, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:29,156] Trial 76 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 600, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:29,515] Trial 77 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 600, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:30,571] Trial 75 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:31,122] Trial 80 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:31,329] Trial 79 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:31,427] Trial 78 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:31,659] Trial 81 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:33,794] Trial 82 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:34,469] Trial 83 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:35,117] Trial 84 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:35,392] Trial 85 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:35,611] Trial 87 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:35,948] Trial 86 finished with value: -2.4917439999999758 and parameters: {'min_samples_leaf': 200, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:36,641] Trial 88 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:36,762] Trial 89 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.

[I 2024-01-10 14:28:38,343] Trial 90 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:39,179] Trial 96 finished with value: 0.7952580000000218 and parameters: {'min_samples_leaf': 900, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:39,438] Trial 97 finished with value: 0.7952580000000218 and parameters: {'min_samples_leaf': 900, 'max_depth': 10}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:39,752] Trial 91 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:39,929] Trial 92 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:40,088] Trial 93 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:40,370] Trial 94 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:40,460] Trial 95 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 15}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:40,875] Trial 98 finished with value: 0.3619260000000235 and parameters: {'min_samples_leaf': 800, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.
[I 2024-01-10 14:28:42,327] Trial 99 finished with value: 4.020640000000023 and parameters: {'min_samples_leaf': 300, 'max_depth': 25}. Best is trial 1 with value: 4.020640000000023.

CPU times: total: 5min 53s
Wall time: 55.9 s

In [48]:
study.best_params

{'min_samples_leaf': 300, 'max_depth': 25}

## Instantiating the classifier with hyper-parameters

In [49]:
t_clf = DecisionTreeClassifier(**study.best_params,random_state=123)

## Now we can fit the tree with the training data

In [50]:
t_clf.fit(train,y_train)

DecisionTreeClassifier(max_depth=25, min_samples_leaf=300, random_state=123)

### and see how well it fits the training data

In [51]:
t_clf.score(train,y_train)

0.5901578801588034

### and predicts the validation data

In [52]:
t_clf.score(valid,y_valid)

0.5844155844155844

### The predicted labels on the validation set and their counts

In [53]:
pred_valid = t_clf.predict(valid)

In [54]:
Counter(pred_valid)

Counter({1: 1055, -1: 100})

In [55]:
confusion_matrix(pred_valid,y_valid)

array([[ 68,   8,  24],
       [  0,   0,   0],
       [335, 113, 607]], dtype=int64)

### Visualizing the tree

In [56]:
dot_data = tree.export_graphviz(t_clf,out_file=None)
graph = graphviz.Source(dot_data)
graph.render('tree_11')

'tree_11.pdf'

## Now we are going to cut the features by looking at their importance in the tree. The visualization of the tree shows that only a few of the features are actually used

In [ ]:
def tree_feat_importance(m, df):
    return pd.DataFrame({'cols':df.columns, 'feat_imp':m.feature_importances_}
                       ).sort_values('feat_imp', ascending=False)

def plot_fi(fi): return fi.plot('cols', 'feat_imp', 'barh', figsize=(12,7), legend=False)

In [ ]:
fi = tree_feat_importance(t_clf,train)

In [ ]:
fi

## We are only going to use the features that have positive feature importance i.e. occur in the tree

In [ ]:
features = fi[(fi['feat_imp'] > 0.00)]

In [ ]:
features

### Feature importance spectrum

In [ ]:
plot_fi(features);

#### We are left with a much smaller set of features

In [ ]:
cols = features['cols'].values

In [ ]:
len(cols)

In [ ]:
cols

### We cut down the training and validation data sets to only include the relevant features and retrain the tree on the reduced data set

In [ ]:
train_red = pd.DataFrame(data = scaler.fit_transform(train[cols].values),columns = cols)
valid_red = pd.DataFrame(data = scaler.transform(valid[cols].values),columns = cols)
test_red = pd.DataFrame(data = scaler.transform(test[cols].values),columns = cols)

In [ ]:
t_clf.fit(train_red,y_train)

In [ ]:
t_clf.score(train_red,y_train)

In [ ]:
t_clf.score(valid_red,y_valid)

In [ ]:
t_clf.feature_names_in_

In [ ]:
pred_valid = t_clf.predict(valid_red)

In [ ]:
Counter(y_valid)

In [ ]:
Counter(pred_valid)

In [ ]:
confusion_matrix(y_valid,pred_valid)

In [ ]:
profit = (pred_valid * df_valid['next_period_return'].values).sum()

In [ ]:
profit

In [ ]:
valid_1 = valid_red.copy()

valid_1['rets'] = df_valid['next_period_return'].values

In [ ]:
len(valid_1.columns)

In [ ]:
train_1 = train_red.copy()

train_1['rets'] = df_train['next_period_return'].values

In [ ]:
len(train_1.columns)

In [ ]:
pred = t_clf.predict(valid_red)

In [ ]:
(pred*valid_1[valid_1.columns[-1]].values).sum()

In [ ]:
# !pip install shap

In [ ]:
import shap

In [ ]:
def model(features):
    tree_features = features[features.columns[:-1].values]

    pred = t_clf.predict(tree_features)

    ret = pred * features[features.columns[-1]]

    return ret

In [ ]:
explainer = shap.explainers.Permutation(model,valid_1)

In [ ]:
shap_values = explainer(valid_1,max_evals=2000,)

In [ ]:
shap_values.values.shape

In [ ]:
shap.plots.bar(shap_values[:,:-1],max_display=30)

In [ ]:

shap_cols = ['oiadpq','psq','fcf_yield','market_cap','gpmq','book_value_yield','oepsxq']
#operation income after depreciation-diluted, yearly sales,free cash flow yield,market cap,gross profit margin,book value yield,
#operating earnings per share-diluted

In [ ]:
len(shap_cols)

In [ ]:
len(valid_1.columns[:-1])

In [ ]:
shap.summary_plot(shap_values[:,:-1], features=valid_1[valid_1.columns[:-1]],max_display=10)

In [ ]:
len(shap_values[:,'fcf_yield'].values[shap_values[:,'fcf_yield'].values>0])

In [ ]:
shap.summary_plot(shap_values[:,:-1], features=list(valid_1.columns), class_inds=[2], max_display=10)

In [ ]:
shap.plots.waterfall(shap_values[1000,:-1],max_display=10)

In [ ]:
shap.plots.scatter(shap_values[:,'fcf_yield'], color=shap_values,xmax=2,xmin=-2,ymin=-0.05,ymax=0.05)

In [ ]:
train_red.columns

In [ ]:
sample_ind = 1000
shap.partial_dependence_plot(
    'market_cap', model, valid_1, model_expected_value=True,
    feature_expected_value=True, ice=True,
    shap_values=shap_values[sample_ind:sample_ind+1,:],xmax=2,xmin=-2)

In [ ]:
clustering = shap.utils.hclust(test_1[test_1.columns[:-1]], y_test) # by default this trains (X.shape[1] choose 2) 2-feature XGBoost models
shap.plots.bar(shap_values[:,:-1], clustering=clustering)

In [ ]:
shap.initjs()
shap.plots.force(shap_values[1000,:-1])

In [ ]:
shap.force_plot( shap_values[:,:-1], valid_1[valid_1.columns[:-1]])

In [ ]:
shap.plots.heatmap(shap_values[:,:-1])

In [ ]:
shap.plots.bar(shap_values[1000,:-1])

## How well does it do on the test set?

In [ ]:
t_clf1 = DecisionTreeClassifier(**study.best_params,random_state=123)

In [ ]:
t_clf1.fit(train[shap_cols],y_train)

In [ ]:
test_set = test_red[shap_cols]
pred_test = t_clf1.predict(test_set)
# pred_test_avr = pred_test_avr/np.abs(pred_test_avr).sum()
(pred_test * df_test['next_period_return']).sum()

In [ ]:
dot_data = tree.export_graphviz(t_clf1,out_file=None)
graph = graphviz.Source(dot_data)
graph.render('tree_12')

In [ ]:
t_clf1.feature_names_in_

## If we were 100% correct on the test set we would get this profit

In [ ]:
(y_test * df_test['pred_rel_return']).sum()

## A totally random strategy where we randomly decide whether to buy or sell

In [ ]:
m = len(df_test['next_period_return'])

In [ ]:
random_predictions = []
for _ in range(1000):
    pred_random = np.random.choice([-1,0,1],m)
    random_predictions.append((pred_random * df_test['next_period_return']).sum())

In [ ]:
plt.hist(random_predictions,bins=30,density=True);

In [ ]:
np.mean(random_predictions)

## Now we run this strategy over the whole period and see how it performs

In [ ]:
start_dates = [pd.to_datetime('2001-01-01') + pd.DateOffset(months = 3*i) for i in range(57)]
end_dates = [d + pd.DateOffset(months = 36) for d in start_dates]

In [ ]:
training_frames = [data.loc[d:d+pd.DateOffset(months = 36)] for d in start_dates]
test_frames = [data.loc[d + pd.DateOffset(months=6):d+pd.DateOffset(months = 9)] for d in end_dates]

In [ ]:
training_data = [d.reset_index() for d in training_frames]

In [ ]:
test_data = [d.reset_index() for d in test_frames]

In [ ]:
training_labels = [d['rel_performance'].values for d in training_frames]

In [ ]:
scalers = [StandardScaler() for _ in range(len(training_data))]
           
opt_training_data = [pd.DataFrame(scalers[i].fit_transform(training_frames[i][shap_cols].values),columns=shap_cols) for i in range(len(training_data))]
opt_test_data = [pd.DataFrame(scalers[i].transform(test_frames[i][shap_cols].values),columns=shap_cols) for i in range(len(test_data))]

In [ ]:
x = [1]
ret = []

for i in range(len(start_dates)-1):
        t_clf.fit(opt_training_data[i],training_labels[i])

        preds = t_clf.predict(opt_test_data[i])
        profit_i = (preds*test_frames[i]['next_period_return']).sum()
        ret.append(profit_i)
        num_names = len(opt_test_data[i])
        x.append(x[i] + (x[i]/num_names)*profit_i)

In [ ]:
plt.plot(x);

In [ ]:
len(x)

In [ ]:
plt.plot(ret)

## Compared to a buy-and-hold of SPY

In [ ]:
SPY = pd.read_pickle(r'C:\Users\niels\OneDrive\Machine Learning 2022\Lecture 2\SPY_cum_ret.pkl')
SPY = SPY.loc['2004-07-01':'2018-09-30']
SPY = SPY.resample('Q').ffill()
SPY['spy_cum_ret'] = (SPY['spy_cum_ret'] - SPY['spy_cum_ret'][0]+1)
SPY['strategy'] = x

In [ ]:
SPY.plot();

In [ ]:
SPY = SPY.resample('Y').ffill()

In [ ]:
SPY.plot();

In [ ]:
strategy_mean_ret = (SPY['strategy'] - 1).diff().mean()
strategy_std = (SPY['strategy'] - 1).diff().std()
print('Strategy Sharpe Ratio: ',strategy_mean_ret/strategy_std)

In [ ]:
strategy_std

In [ ]:
spy_mean_ret = (SPY['spy_cum_ret'] - 1).diff().mean()
spy_std = (SPY['spy_cum_ret'] - 1).diff().std()
print('SPY Sharpe Ratio: ',spy_mean_ret/spy_std)

In [ ]:
print(spy_std)

### Total Returns

In [ ]:
x[-1]

In [ ]:
SPY['spy_cum_ret'][-1]

### Computing the (quarterly) $\alpha$ of the strategy

In [ ]:
strategy_ret = (SPY['strategy'] - 1).diff().values[1:]
spy_ret = (SPY['spy_cum_ret'] - 1).diff().values[1:]

In [ ]:
beta = (np.cov(spy_ret,strategy_ret)/np.var(spy_ret))[1,0]
beta

In [ ]:
residual_ret = strategy_ret - beta * spy_ret
IR = np.mean(residual_ret)/np.std(residual_ret)
IR

In [ ]:
alpha = np.mean(residual_ret)
alpha